.about {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.about div {
	width: 100%;
	height: 100%;
	display: grid;
	place-items: center;
}
.about div .about-text {
	width: 80%;
	height: 80%;
	display: unset;
	padding: 1rem;
	margin-left: 5rem;
}
.about-text h2 {
	font-size: 3rem;
	margin-bottom: 2rem;
}
.about-text p {
	margin: 1rem 0;
}
.about div .about-box {
	width: 60%;
	height: 70%;
	border-radius: 0.5rem;
	background: var(--blue);
	margin-right: 5rem;
}
.about-box span {
	width: 100%;
	height: 100%;
	text-align: center;
	padding: 2rem 1rem;
}
span h3 {
	font-size: 2rem;
	margin-bottom: 1rem;
}
span ul {
	list-style: none;
}

@media screen and (max-width: 500px) {
	.about {
		grid-template-columns: unset;
		grid-auto-flow: row;
	}
	.about div .about-text {
		width: 100%;
		height: 100%;
		margin-left: unset;
	}
	.about-text h2 {
		margin-bottom: 1rem;
	}
	.about div .about-box {
		width: 90%;
		height: auto;
		margin-bottom: 2rem;
		margin-right: unset;
	}
}
