.forms {
	align-items: center;
	background-color: var(--white);
	/* background: url("./bg.jpg"); */
	background: var(--formsBg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: grid;
	height: 100vh;
	width: 100%;
	place-items: center;
}
.msg {
	position: absolute;
	top: 2rem;
	right: 3rem;
	border-radius: 0.3rem;
	transition: all 0.8s ease;
	transform-origin: right;
}
.true,
.false {
	background: green;
	padding: 0.3rem 0.7rem;
}
.false {
	background: red;
}
.form__title {
	font-weight: bolder;
	margin: 0;
	color: brown;
}
.form p {
	margin: 1rem 0;
	font-size: 1.2rem;
	font-weight: bolder;
}
.container {
	background-color: var(--white);
	border-radius: var(--button-radius);
	box-shadow: 0 0.9rem 1.7rem rgba(0, 0, 0, 0.25),
		0 0.7rem 0.7rem rgba(0, 0, 0, 0.22);
	height: var(--max-height);
	max-width: var(--max-width);
	overflow: hidden;
	position: relative;
	width: 100%;
}
.container__form {
	height: 100%;
	position: absolute;
	top: 0;
	transition: all 0.6s ease-in-out;
}
.container--signin {
	left: 0;
	width: 50%;
	z-index: 2;
}
.container.right-panel-active .container--signin {
	transform: translateX(100%);
}
.container--signup {
	left: 0;
	opacity: 0;
	width: 50%;
	z-index: 1;
}
.container.right-panel-active .container--signup {
	animation: show 0.6s;
	opacity: 1;
	transform: translateX(100%);
	z-index: 5;
}
.container__overlay {
	height: 100%;
	left: 50%;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: transform 0.6s ease-in-out;
	width: 50%;
	z-index: 100;
}
.container.right-panel-active .container__overlay {
	transform: translateX(-100%);
}
.overlay {
	background-color: var(--lightblue);
	background: var(--formsBg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: -100%;
	position: relative;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 200%;
}
.container.right-panel-active .overlay {
	transform: translateX(50%);
}
.overlay__panel {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: end;
	position: absolute;
	top: 0;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
	width: 50%;
}
.overlay__panel .overlay_text {
	width: 100%;
	height: 30%;
	padding: 0.5rem 1rem;
	display: grid;
	align-items: center;
	justify-content: space-around;
	background: rgba(255, 255, 255, 0.25);
	backdrop-filter: blur(5px);
	-webkit-backdrop-filter: blur(5px);
}
.overlay_text h3 {
	font-size: 1.4rem;
}
.overlay_text h4 {
	font-size: 1.2rem;
}
.overlay_text span {
	text-align: end;
}
.overlay--left {
	transform: translateX(-20%);
}
.container.right-panel-active .overlay--left {
	transform: translateX(0);
}
.overlay--right {
	right: 0;
	transform: translateX(0);
}
.container.right-panel-active .overlay--right {
	transform: translateX(20%);
}

.form > .btn {
	margin-top: 1.5rem;
}
/* .btn:active { */
/*     transform: scale(0.95); */
/* } */
/* .btn:focus { */
/*     outline: none; */
/* } */
/* .signupbtn{ */
/*     margin-top:unset !important; */
/* } */
.form {
	background-color: var(--white);
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 3rem;
	height: 100%;
	text-align: center;
}
.form .btn {
	width: 100%;
	color: var(--white);
	cursor: pointer;
	font-weight: bold;
	padding: 0.5rem 0;
	background: var(--black);
	text-transform: uppercase;
	outline: none;
	border: 0;
}

.form div {
	width: 100%;
	margin-top: 0.5rem;
	display: flex;
	place-items: center;
	justify-content: start;
	gap: 0.5rem;
}
.form div input,
.form div label {
	cursor: pointer;
}
.input {
	background-color: #fff;
	border: none;
	padding: 0.9rem 0.9rem;
	margin: 0.5rem 0;
	width: 100%;
	color: var(--gray);
}
.phoneInput {
	color: #121212;
}
.phoneContainer {
	padding: 0.3rem 0;
	background: #fff;
}
.phoneDropDown {
	background: red;
	color: #121212;
}
@keyframes show {
	0%,
	49.99% {
		opacity: 0;
		z-index: 1;
	}

	50%,
	100% {
		opacity: 1;
		z-index: 5;
	}
}
#signIn,
#signUp {
	/* display: none; */
}
.outer_btns {
	padding-inline: 1rem;
	height: 10%;
	display: grid;
	place-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}
.container--signup .outer_btns {
	bottom: 1rem;
}
.page_links {
	color: blue;
	font-weight: bold;
	font-style: italic;
}
.overlay_text span .page_links {
	color: var(--brownish);
}
.outer_btns span {
	display: flex;
	gap: 0.5rem;
}
span a {
	cursor: pointer;
}
.outer_btns #signUp {
	background: transparent;
	border: 0;
}
/* .grid{ */
/*     display: grid; */
/*     place-items: center; */
/* } */
.form2 .image_section {
	position: relative;
	display: flex;
	justify-content: center;
}
.form2 .image_section span {
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	box-shadow: 0 2px 5px #333;
	overflow: hidden;
	position: relative;
}
.form2 .image_section span img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
}
.form2 .image_section label {
	position: absolute;
	bottom: -0.9rem;
	right: 7rem;
}
.image_section label .icon {
	cursor: pointer;
}
.image_section input {
	width: 0.1rem;
	height: 0.1rem;
}
.gender-container {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	padding: 0.5rem 0;
}
.gender-container span {
	background: #fff;
	padding: 0.4rem;
	width: 6rem;
	display: grid;
	place-items: center;
	grid-auto-flow: column;
	align-items: center;
	gap: 0.5rem;
	color: #121212;
}
.gender-container span label,
.gender-container span input {
	cursor: pointer;
}

@media screen and (max-width: 500px) {
	.container {
		width: 90%;
		height: 80vh;
	}
	#signIn,
	#signUp {
		display: block;
	}
	.container.right-panel-active .container--signup {
		transform: translateX(0%);
		width: 100%;
		z-index: 10;
	}
	.container.right-panel-active .container--signin {
		width: 100%;
		transform: translateX(100%);
	}
	.container__overlay {
		display: none;
	}
	.container__form {
		width: 100%;
	}
	.form {
		padding: 0 1rem;
		height: 100%;
	}
	#form2 .input {
		margin: 0.3rem 0;
		padding: 0.7rem;
	}
	.image_section {
		margin-bottom: 1rem;
	}
	.image_section span {
		width: 7rem;
		height: 7rem;
	}
	.image_section label {
		font-size: 0.5rem;
	}
	.gender-container span {
		padding: 0.3rem;
	}
	.btn {
		width: 100%;
		padding: 0.6rem 4rem;
	}
	#form2 .btn {
		margin-top: 1rem !important;
	}
	.phoneContainer {
		padding: 0.1rem 0;
	}
}

@media screen and (max-width: 370px) {
	.container {
		height: 65vh;
	}
	/* .btns{ */
	/*     position: absolute; */
	/*     width: 50%; */
	/* } */
	/* #form2 .btn,.container--signin .btn{ */
	/*     position: absolute; */
	/*     width: 40%; */
	/*     padding: .8rem 0; */
	/*     border-radius: unset; */
	/*     right: .5rem; */
	/* } */
	/* #form2 .btn{ */
	/*     bottom: .5rem !important; */
	/*     left: .5rem; */
	/* } */
}
